/* DEbug da cancellare */

 header .header_top {
  height: 10vh;

}

.header_top .container .row .col-md-3,
.header_top .container .row .col-md-4,
.header_top .container .row .col-md-5 {
  height: 10vh;
}

.my_jumbotron {

  background-color: blue;
}

.my_jumbotron .container .row .col-md-8,
.my_jumbotron .container .row .col-md-4,
.my_jumbotron .container .row .col-md-5{
  height: 50vh;
}

.bottom_header {
  background-color: red;
  border: 1px solid black;
}

.bottom_header .container .row .col-md-12,
.bottom_header .container .row .col-md-4,
.bottom_header .container .row .col-md-5{
  height: 30vh;
  border: 1px solid black;
}

.bottom_header .container .row .col-md-12 .row .col-sm-2 {
  height: 30vh;
  border: 1px solid black;
}

/* utilities */

.bkg_blu {
  background-color: blue;
}
.bkg_yellow {
  background-color: yellow;
}
.bkg_green {
  background-color: green;
}
.bkg_red {
  background-color: red;
}
