body {
  font-size: 14px;
}
h1 {
  font-size: 4.5em;
}
p.special_p {
  font-size:1.4em;
}
h2 {
  font-weight: bold;
}


/* DEbug da cancellare */

 header .header_top {
  height: 10vh;

}

.header_top .container .row .col-md-3,
.header_top .container .row .col-md-4,
.header_top .container .row .col-md-5 {
  height: 10vh;
}

.my_jumbotron {

  background-color: blue;
}

.my_jumbotron .container .row .col-md-8,
.my_jumbotron .container .row .col-md-4,
.my_jumbotron .container .row .col-md-5{
  /* height: 50vh; */
}

/* .bottom_header {
  background-color: red;
  border: 1px solid black;
} */

.bottom_header .container .row .col-md-12,
.bottom_header .container .row .col-md-4,
.bottom_header .container .row .col-md-5{
  /* height: 30vh;
  border: 1px solid black; */
}

.bottom_header .container .row .col-md-12 .row .col-sm-2 {
  /* height: 30vh;
  border: 1px solid black; */
}

/* .row .col-md-6{
  height: 10vh;
  background-color: blue;

} */

/* utilities debug*/
.bkg_blu {
  background-color: blue;
}
.bkg_yellow {
  background-color: yellow;
}
.bkg_green {
  background-color: green;
}
.bkg_red {
  background-color: red;
}

/* utilities */
.wrapper_lg{
  width: 90%;
  margin: 0 auto;
}
.wrapper_xs{
  width: 40%;
  margin: 0 auto;
}

.disp_inl {
  display: inline;
}

.bkg_white {
  background-color:white;
}
.bkg_lightblue {
  background-color:rgb(37,134,253);
}
.bkg_whiteblue {
  background-color:rgb(243,245,249);
}

.color_grey {
  color: grey;
}
.color_strangegrey {
  color: rgb(92,106,136);
}
.color_white {
  color:white;
}
.color_lightblue {
  color:rgb(37,134,253);
}
.color_darkblue {
  color:rgb(3,28,78);
}

.font_little {
  font-size: 0.6em;
}
.uppercase {
  text-transform: uppercase;
}
.allign_middle {
  vertical-align: middle;
}

.border_radius {
  border-radius: 5px;
}

.down_arrow::after {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  display: inline-block;
  padding-left: 5px;
  vertical-align: middle;
  font-weight: 980;
}
.left_arrow::after {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  display: inline-block;
  font-size: 0.9em;
  padding-left:10px;
  font-weight: 600;

}

/* header_top */

.header_lh {
  line-height: 10vh;
}

.logo img {
  width:50%;
}


.fa-bars#hamburger {
  font-size: 50px;
}

.btn_header {
  border: 1px solid rgb(37,134,253);
}
.btn_header:hover {
  color:rgb(37,134,253);
}

/* jumbotron */

.my_jumbotron {
  background-image: url("../img/jumbo_bkg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbo_padding {
  padding:40px;
}

.google_form {
  height: 100%;
  width: 100%;
  padding: 20px;
}
.google_form h2 {
  margin-top: 0;
}
.google_btn {
  width:100%;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.google_btn img {
  height: 20px;
  vertical-align: middle;
}

/* bootom_header */
.bottom_header .container .row {
  padding:20px;
}

.sponsor img {
  max-width:100%;
  height:77px;
}

/* deploy */
.list_container {
  border-left: 1px solid grey;
}
.list_container ul {
  list-style: none;
  padding-left: 10px;
}
.list_container ul li {
  padding: 10px;
}

.deploy_img img{
  width: 20px;
}
.deploy_txt h3 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 0.7em;
}


/* MEDIA QUERY */

/* media query solo dimensione tablet */
@media screen and (max-width: 990px) and (min-width: 768px) {
  .col-md-5.jumbo_padding {
    padding-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .col-md-3.no_padding {
    padding-left: 0px;
  }
}
